/* Sidebar Container */
.sidebar {
    display: flex;
    justify-content: center;
    width: 270px;
    background-color: var(--primary-active-text);
    padding: 1rem;
    border-right: 1px solid var(--neutral-hover);
    padding-top: 8rem;
    transition: width 0.3s ease-in-out;
}

/* Mobile Sidebar (Collapsed State) */
@media (max-width: 768px) {
    .sidebar {
        /* width: 200px; */
        display: none;
    }
}

/* Menu List */
.menuList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 220px;
}

/* Menu Item */
.menuItem {
    margin-bottom: 1rem;
}

/* Parent Link Styling */
.menuLink {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-large);
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), color var(--transition-speed);
    z-index: 1;
}

.menuLink:hover {
    background-color: var(--primary-hover);
    color: var(--secondary-color);
}

/* Active Parent Menu Link */
.menuLink.active {
    background-color: var(--primary-active-background);
    color: var(--primary-active-text);
    font-weight: bold;
    border-left: 4px solid var(--secondary-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Submenu List */
.subMenuList {
    width: 100%;
    padding-top: 0.5rem;
    list-style: none;
    padding-left: 1rem;
    margin: 0;
}

/* Submenu Item */
.subMenuItem {
    margin-bottom: 0.5rem;
}

/* Submenu Link */
.subMenuLink {
    display: block;
    padding: 0.25rem 1rem;
    font-size: var(--font-size-small);
    color: var(--neutral-text);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.subMenuLink:hover {
    background-color: var(--neutral-hover);
    color: var(--secondary-color);
}

/* Active Submenu Link */
.subMenuLink.active {
    background-color: var(--primary-hover);
    color: var(--secondary-color);
    font-weight: bold;
    border-left: 4px solid var(--primary-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* Active Styles for Submenu Item Container */
.subMenuItem.active {
    background-color: var(--submenu-background);
}

/* Toggle Button Styling */
.toggleButton {
    align-self: flex-end;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}

.toggleButton:hover {
    color: var(--secondary-color);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menuLink {
        font-size: var(--font-size-medium);
        padding: 0.25rem 0.5rem;
    }

    .subMenuLink {
        font-size: var(--font-size-extra-small);
    }

    .menuList,
    .subMenuList {
        padding-left: 0.5rem;
        width: 150px;
    }
}