.organization-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}